# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*.idea
*.class
*.iml
out
soccer_data_program/src/statistics_models/offense/offensiveStatisticsTokens.java